@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

body {
    font-family: 'Mali', cursive;
    text-align: center;
    background-color: #fafafa;
}

/* Header */
header h1 {
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Main game area */
.game-area {
    width: 66%;
    margin: auto;
}

/* Scoreboard */
.score-board {
    font-size: 1.5rem;
}

/* Game image */
.game-image-area img{
    max-width: 100%;
    height: auto;
    width: auto;
}