@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

body {
    font-family: 'Mali', cursive;
    text-align: center;
    background-color: #fafafa;
}

/* Header */
header h1 {
    font-size: 3rem;
}

/* Modal instructions box */
.modal {
    display: none;
    position: fixed; 
    padding: 20px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
  }
  .modal-content {
    position: relative; 
    background-color: white;
    border: 5px solid #000000;
    height: auto;
    padding: 20px; 
    margin: auto; 
    width: 66%;
    font-size: 1.5rem;
  }

/* Game Settings Area */
.game-settings {
    padding: 10px;
}

/* Main game area */
.game-area {
    width: auto;
    margin: auto;
}

/* Scoreboard */
.score-board {
    font-size: 1.2rem;
}

/* Game image */
.game-image-area img{
    width: auto;
    max-width: 100%;
    height: auto;
}

/* Buttons */
button {
    font-family: 'Mali', cursive;
    text-transform: uppercase; 
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border: 2px solid #000000;
    padding: 1rem;
    background-color: #fafafa;
    border-radius: 6px;
}

button:hover {
    color: #fafafa;
    background-color: #000000;
    cursor: pointer;
}

/* Media Queries */

/* 1000px wide and below */
@media screen and (max-width: 1000px){
    .game-image-area {
        width: 66%;
        margin: auto;
    }
}

/* 770px wide and below */
@media screen and (max-width: 770px) {
    .game-area {
        width: 100%;
    }

    .game-image-area {
        width: auto;
        max-width: 100%;
    }

    .game-settings {
        width: auto;
        margin: auto;
    }

    .modal {
        padding: 1px;
    }

    .modal-content {
        font-size: 1.2rem;
        width: 80%;
      }

    button {
        font-size: 0.7rem;
    }

}